body {
    background-color: #edf2f7;
}

.box {
    padding: 2rem;
    border: 1px solid green;
    background-color: gray;
    color: white;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 0.25rem;
}

.right-icon {
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: rgb(156, 26, 26);
}

.left-icon {
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: aliceblue;
}

input:focus {
    outline: none;
} 